[Unit]
Description=Forward your SSH port to remote host
After=network.target

[Service]
User=root
EnvironmentFile=/etc/default/sshtunnel
ExecStart=/usr/bin/ssh -NT -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -R ${TPORT}:127.0.0.1:${PORT} -i /opt/sshkey/id_rsa ${USER}@${HOST}
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
